        mesa {
    display: block;
            background-color: rgb(1, 243, 223);
            color: rgb(0, 0, 0);
        }
        placar{
        display: block;
            background-color: rgb(11, 255, 133);
        color: black; 
        }
        carta{
            display:inline-block;
            background-color: aqua;
            color: blueviolet;
        }
        cartas{
        display: block;
        color: black;


    }
    info{
    display: block;
    background-color: rgb(36, 58, 255);

    }


